.app {
  width: 40%;
  height: 611px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title-todo{
    display: flex;
    justify-content: space-between;
}

.title{
    color: #fff;
    letter-spacing: 1.5rem;
    font-size: 2rem;
}

.form{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 0.3rem;
}

.input-form{
    width: 95%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
}

.btn{
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    background-color: var(--Very-Dark-Blue);
    background-image: url(../images/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease-in;
}

.btn:hover{
    opacity: 60%;
}

.tasksContainer{
    width: 100%;
    height: auto;   
    background-color: var(--Very-Dark-Desaturated-Blue);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.task-list{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1px  hsl(234, 11%, 52%) solid;
}

.task-list > p{
    color:var(--Light-Grayish-Blue);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.task-list > p:hover{
    font-size: 2rem;
}

.task-item{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1px  hsl(234, 11%, 52%) solid;
}

.tasksTitle-completed{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.5rem;
}

.tasksTitle-completed>p{
   padding-top: 0.3px; 
   color:var(--Light-Grayish-Blue);
    font-size: 0.7 rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.tasksTitle-completed>p:hover{
    color: var(--Bright-Blue);
}

.deletarTarefa{
    cursor: pointer;
}

.filtros{
    width: 100%;
    padding: 1rem;
    justify-items: end;
    display: flex;
    justify-content: space-between;
}

.all-active-completed{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.btn-filtro{
    color:var(--Light-Grayish-Blue);
    font-size: 0.7 rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.btn-filtro:hover{
    color: var(--Bright-Blue);
}