:root{    
   /* light theme */

    --bg-color:hsl(0, 0%, 98%);
    --app-color:hsl(0, 0%, 100%);
    --text-color:hsl(235, 19%, 35%);;
    --text-color-hover:hsl(220, 98%, 61%);
    --border-color: hsl(236, 33%, 92%);
}